<div class="row mx-auto">
  <img src="../../../../assets/img/logo.png" alt="logo" class="logo mx-auto mt-">
</div>
<div class="container mx-auto animate__animated animate__fadeIn">
  <div class="row">

    <mat-card class="mx-auto col-lg-4">
      <mat-card-title class="p-3 mx-auto">
        <h2>Inicio de Sesión</h2>
      </mat-card-title>
      <form [formGroup]="formLogin" (ngSubmit)="login()" autocomplete="off">
        <p>
          <mat-form-field class="full-width" appearance="fill">
            <input type="text" matInput placeholder="Usuario" formControlName="username" class="full-width">
            <mat-hint *ngIf="isValid('username')">
              El campo es requerido <strong>Requerido</strong>
            </mat-hint>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="full-width" appearance="fill">
            <input type="password" matInput placeholder="Contraseña" formControlName="password">
            <mat-hint *ngIf="isValid('password')">
              El campo es requerido <strong>Requerido</strong>
            </mat-hint>
          </mat-form-field>
        </p>
        <div class="button">
          <button type="submit" mat-raised-button color="primary" class="my-3 full-width"
            [disabled]="formLogin.invalid">Entrar</button>
        </div>

      </form>
    </mat-card>
  </div>

</div>