<div class="row">
  <div class="d-flex justify-content-between">
    <h3>Listado de Productos</h3>
    <button mat-raised-button color="primary" (click)="newProduct()">
      Producto<mat-icon>add_circle</mat-icon>
    </button>
  </div>
  <mat-divider class="mb-3"></mat-divider>

  <mat-card class="container mx-auto animate__animated animate__fadeIn">
    <table mat-table [dataSource]="dataSource" matSort matSortDirection="asc">

      <!-- Title Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
        <td mat-cell *matCellDef="let element">{{element.price | currency : 'EUR':'symbol':'.2-2':'ES' }}</td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
        <td mat-cell *matCellDef="let element">{{element.category.name}}</td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="stock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
        <td mat-cell *matCellDef="let element">{{element.stock}}</td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="hasStock">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Usa Stock</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.hasStock" class="text-success">done</mat-icon>
        </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.status" class="text-success">done</mat-icon>
          <mat-icon *ngIf="!element.status" class="text-danger">close</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
        <td mat-cell *matCellDef="let element" class="text-center">
          <button mat-mini-fab color="primary" class="mx-2" (click)="editProduct(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" *ngIf="!element.status" class="mx-2"
            (click)="disableEnableProduct(element)">
            <mat-icon>power_settings_new</mat-icon>
          </button>
          <button mat-mini-fab color="accent" class="mx-2" *ngIf="element.status"
            (click)="disableEnableProduct(element)">
            <mat-icon>power_settings_new</mat-icon>
          </button>
          <button mat-mini-fab color="warn" class="mx-2">
            <mat-icon class="white">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>
    <mat-divider></mat-divider>
  </mat-card>
</div>

<!-- Product Modal -->
<div class="modal fade" #productModal data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-product-form (closeModal)="closeModal()"></app-product-form>
      </div>
    </div>
  </div>
</div>